---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { date } from "astro:schema";

const pageTitle = "My Astro Learning projects";
const allPosts = await getCollection('project');
allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={`/projectposts/${post.id}/`} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>
