---
import "../styles/global.css";
const {pageTitle = "Dennis Pater"} = Astro.props;
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
</head>
<body>
<header>
    <Hamburger />
    <Navigation />
</header>
<main>    
    <slot />
</main>
</body>
<footer>
</footer>
<script>
    import "../scripts/menu.js";
</script>
</html>